/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
	margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
	height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	position: sticky;
	top: 1px;
	background-color: white;
	height: 80px;
}

.nav-logo {
	margin-left: 200px;
	display: inline-block;
	margin-right: 30%;
}

nav > ul {
	list-style: none;
}

.right-nav {
	display: inline;
}

.right-nav > .nav {
	display: inline-block;
	margin-left: 10px;
	font-weight: 600;
	margin: 20px;
}

.tuitt-button {
	border-radius: 25px;
	background-color: #c2195b;
	padding: 10px 20px;
	border-style: none;
	padding-bottom: -20px;
	color: white;
}

#bg-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	width: 80vw;
	background-size: 100%;
	height: 45vh;
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	opacity: 0.95;
}

.container {
	/* text-align: right; */
	width: 500px;
	margin-left: 900px;
	height: 45vh;
}

.title {
	margin-right: 20px;
	font-size: 30px;
}

.subtitle {
	margin-top: 50px;
	text-align: right;
	font-size: 20px;
}

.apply-button {
	border-radius: 25px;
	background-color: #c2195b;
	padding: 10px 40px;
	border-style: none;
	color: white;
	margin-top: 20px;
	margin-left: 270px;
}

.intro {
	text-align: center;
	width: 80vw;
	margin: 5vh auto;
}

.intro-description {
	margin-top: 60px;
	margin-left: 320px;
	margin-right: 320px;
	text-align: justify;
	font-weight: 500;
}

.title,
.title-2 {
	font-family: 'Zilla Slab', serif;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	width: 80vw;
	margin: 5vh auto;
	height: 15vw;
}

.pre-footer > .title-2 {
	margin-top: 100px;
}

.prefooter-description {
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;
}

.book-button {
	margin-top: 30px;
	border-radius: 25px;
	background-color: #336589;
	padding: 10px 40px;
	border-style: none;
	color: white;
	margin-left: 40px;
}

footer {
	margin-top: -45px;
	text-align: center;
}
